
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article {
    margin-top: 15px;
    padding: 15px;
    border-left: 4px solid #00bcd4;
    background-color: #fafafa;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    margin-top: 20px;
}